**/__pycache__
/.idea/
/resources
/env/
/backend/.env
/backend/.vscode
**/__pycache__
/.idea/
/resources/vvv
/env/
**/.vscode
**/node_modules/
**/.env
backend/static/images/*
backend/db.sqlite3
./frontend/.env